<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <bean id="circleService" class="com.pyq.cms.rpc.service.impl.CircleServiceImpl"/>
    <dubbo:service interface="com.pyq.cms.rpc.api.CircleService" ref="circleService" timeout="5000" retries="0" />

    <bean id="starService" class="com.pyq.cms.rpc.service.impl.StarServiceImpl"/>
    <dubbo:service interface="com.pyq.cms.rpc.api.StarService" ref="starService" timeout="5000" retries="0" />

    <bean id="commentsService" class="com.pyq.cms.rpc.service.impl.CommentsServiceImpl"/>
    <dubbo:service interface="com.pyq.cms.rpc.api.CommentsService" ref="commentsService" timeout="5000" retries="0" />

    <bean id="userService" class="com.pyq.cms.rpc.service.impl.UserServiceImpl"/>
    <dubbo:service interface="com.pyq.cms.rpc.api.UserService" ref="userService" timeout="5000" retries="0" />

</beans>

